fastapi
uvicorn[standard]
python-multipart
python-dotenv
pydantic
pydantic-settings

PyMuPDF
python-docx
Pillow
pytesseract
opencv-python
numpy

langchain
langchain-community
langchain-text-splitters

chromadb
sentence-transformers
torch

groq

sqlalchemy
httpx
tiktoken